<h1>Upload People</h1>

<form id="loader">
  <div>
    <label for='csv-file'>Upload CSV file</label>
    <input id='csv-file' type="file" accept=".csv"  name='file'>
  </div>
  <button type="submit" >Upload</button>
</form>


<a href="#/index">Back</a>
